<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={{url_for('static', filename='css/style.css')}}/>
</head>
<body>
    <header><span class = "name_txt">IsIt<span id="hot">Hot</span>TodayIn<span id="city">LA</span><span id = "qm">?</span></span></header>
    <div class="container">
        <div class = "error">An ERROR Occurred. Please try again later while we fix the issue.</div> 
    </div>
    
    <footer></footer>
</body>
</html>